#productos-container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    
    margin: auto;
}

.tarjeta-producto{
    max-width: 300px;
    text-align: center;
    background-color: ghostwhite;
    padding: 70px;
    box-shadow: 0 0 5px ghostwhite;
    transition: 200ms;
}

.tarjeta-producto:hover{
    translate: 0 -10px;
    box-shadow: 0 10 5px ghostwhite;
}


.tarjeta-producto img{
    width: 100%;
    aspect-ratio: 1.5;
}